
.imagenconsolanintendo{
    padding-top: 20px;
    padding-left: 20px;
    width: 25%;
    border-radius:40px;
}

table{
    text-align: center;
    padding-left: 10px;
    border-radius: 22px;
}

th{
    td{
    background: rgb(177,155,147);
background: linear-gradient(90deg, rgba(177,155,147,1) 0%, rgba(148,182,159,1) 30%, rgba(255,0,224,0.4318102240896359) 85%);
    border: solid;
    font-size: 19px;
}
}

.lite{
    padding-top: 20px;
    padding-left: 20px;
    width: 20%;
    border-radius: 30px;
}